
.layout {
  width: 1180px;
  margin: 0 auto;
}
.layout__main {
  float: left;
  width: 840px;
}
.layout__sub {
  float: right;
  width: 320px;
}
.main__header {
  display: flex;
}
.main__header .banner {
  width: 840px;
  margin-bottom: 30px;
}
.banner__container {
  position: relative;
  width: 840px;
  height: 288px;
  overflow: hidden;
}
.container {
  background-color: #fff;
  border-radius: 4px;
}
.article-list__header {
  padding-left: 30px;
  padding-top: 15px;
  height: 60px;
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ebebeb;

}
.article-list__body {
  position: relative;
}
.post-wrap {
  margin-bottom: 58px;
  padding: 0 20px;
  min-height: 260px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  width: 320px;
}
.post-block {
  padding: 30px 0;
}
.post-button {
  width: 280px;
  height: 100px;
  padding: 0 15px 0 20px;
  color: #7c652f;
  font-weight: bold;
  font-size: 30;
  background-color: #f7e6b2;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  align-items: center;
  outline: none;
  border: none;
}
.post-button:hover {
  background-color: #F3DA8D;
  transition: all .2s ease-in-out;
}

.article-card {
  padding: 24px 30px;
}
.article-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.article-card__title {
  display: flex;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 260px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
