@font-face {
    font-family: 'HYWenHei-85W';
    src: url('../font/HYWenHei-HEW.eot');
    src: url('../font/HYWenHei-HEW.eot?#iefix') format('embedded-opentype'),
        url('../font/HYWenHei-HEW.woff2') format('woff2'),
        url('../font/HYWenHei-HEW.woff') format('woff'),
        url('../font/HYWenHei-HEW.ttf') format('truetype'),
        url('../font/HYWenHei-HEW.svg#HYWenHei-HEW') format('svg');
    font-weight: normal;
    font-style: normal;
		font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.login-div {
	display: inline;
	position: absolute;
	width: 100px;
	margin-right: 60px;
	right: 0;
}
.login-button {
	height: 100%;
	padding: 13.7px;
	text-align: center;
	text-decoration: none;
	color: #fff;
  opacity: 80%;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
  cursor: pointer;
	transition: .3s;
	transition-timing-function: ease;
}
.login-button:hover {
	color: #ffc154;
}

#navbar {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    border-left: none;
    border-right: none;
    z-index: 101;
    height: 52px;
    box-shadow: 0 3px 6px 0 rgb(97 56 0 / 41%);
    background-color: rgba(10,10,10,0.5);
}

.logo {
    margin-left: 30px;
    margin-right: -60px;
    float: left;
    width: 200px;
}

#navbar div.items {
  display: inline-flex;
}

#navbar div.items .button {
    margin: 0 18px;
    align-items: center;
    position: relative;
    line-height: 48px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 90%;
    text-align: center;
    text-decoration: none;
		transition: all .2s ease-in-out;
}

#navbar div.items a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbar div.items .first {
  margin-left: 60px;
  float: left;
}

#navbar div.items .button:hover, #navbar div.items .active, .dropdown:hover .button {
    text-shadow: 0 0 6px #FFAA49, 0 0 10px #FFAA49, 0 0 15px #FFAA49;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.dropdown {
  float: left;
  /*overflow: hidden;*/
}



.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px ;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 10px;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FFCA6D;
  color: #7E5800;
  border-radius: 2px;

}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  #navbar div.items{
    display: none;
  }
  #navbar .search {
    align-content: center;
  }
}

/* Search Bar */
#navbar div.search {
  position: absolute;
  display: inline-flex;
  right: 10px;
  float: right;
  height: 85%;
  width: 300px;
  align-items: center;
  background: #f2f2f2;
  border-radius: 5px;
  z-index: 100;
  opacity: 0.9;
}

#navbar div.search input {
  height: 100%;
  width: 260px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

#navbar .search .icon {
  height: 96%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#navbar .search .icon:hover {
  background: #e6e6e6;
}

#navbar .search .icon span {
  color: #222222;
  font-size: 18px;
}

#nav_login {
	background-color: #f1f1f1;
  color: #000;
}

.sidebar {
	width: 250px;
  position: fixed;
  left: 0;
  height: calc(100% - 54px);
  z-index: 101;
  background-color: rgba(0,0,0,0.125);
}
.os-viewport {
  height: 100%;
}

.sidebar-content {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
	visibility: visible;
	padding: 15px;
}
.sidenav {
  list-style: none;
  padding: 0;
}
.sidenav-head {
	padding: .5rem;
	margin-bottom: 1rem;
}
.nameblock {
	position: absolute;
	top: 30%;
	left: 5%;
}
.nameblock2 {
	position: absolute;
	top: 30%;
	right: 5%;
  padding-left: 7%;
}
.character-element {
	position: absolute;
	top: 20%;
  left: 5%;
}
.sidenav>li>a, .toggle-items>li>a {
	display: block;
  position: relative;
	border-radius: 2px;
}
.sidenav li a:hover, .toggle-items>li>a:hover {
	background-color: rgba(200,200,200,0.07);
}
.sidenav>li, .toggle-items>li {
	margin-bottom: 5px;
}
.sidenav li a.active, .toggle-items li a.active {
  background-color: rgba(220,220,220,0.15);
}

.sidenav li .toggle {
  padding: 0.75rem 1rem 0.85rem;
  position: relative;
  border-radius: 2px;
  transition: background-color 300ms,color 300ms;
  display: block;
  color: rgba(255,255,255,0.7);
  font-family: 'HYWenHei-85W',cursive;
}

.toggle-items {
  flex-direction: column;
  transform: scaleY(1);
  transform-origin: top;
  overflow: hidden;
  transition: 0.5s;
}
.toggle-items>li {

}

/*=========== START ============*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: Segoe UI;
}
h1 {
  font-size: 35px;
	padding: 14px 20px 0px 10px;
}
h2 {
  color: #0061bc;
  padding: 5px 20px 0px 10px;
  font-size: 30px;
}
h3 {
	font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
	font-family: 'HYWenHei-85W',cursive;
	margin-bottom: -20px;
}
h4 {
	font-size: 14px;
  font-family: 'HYWenHei-85W',cursive;
  font-weight: 300;
	color: #fff;
}
h5 {
	font-size: 11px;
  font-family: 'HYWenHei-85W',cursive;
  font-weight: 300;
	color: #fff;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.125);
	box-sizing: content-box;
  height: 0;
  overflow: visible;
}


body {
  font-family: "Nunito",sans-serif;
	font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255,255,255,0.85);
	background-image: url("../img/genshin_06_4K.jpg");
  background-size: cover;
	background-repeat: no-repeat;
  background-attachment: fixed;
}

.userauthen {
	background-image: linear-gradient(to right, #f6f6f6 , #f6f6f6);
}
.forum {
  background-image: linear-gradient(to right, #f0f1f5 , #f0f1f5);
  color: black;
}

main {
	padding: 40px;
  min-height: 700px;
}
main.blur-bg {
  position: relative;

	height: 86%;
	padding: 0;
}

a {
  cursor: pointer;
}

.w100 {
	width: 100%;
}

label {
  font-size: 14px;
}

input[type=number], textarea {
  background-color: #f2f2f2;
  border: none;
  min-width: 200px;
}

#about {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 450px;
  padding: 10px;
  background: #445175;
  border-radius: 15px;
}

/*=========== MAIN ============*/
.content {
	padding: 20px 30px 30px 280px;
	background: rgba(255,255,255,0);
}
.panel {
	display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.divide2 {
	flex: 0 0 50%;
  max-width: 50%;
}
.divide3 {
	flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.board {
	position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0,0,0,0.2);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
}
.text-center {
	text-align: center;
}
.board-outer {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
}
.board-header {
  padding: 15px 28px;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0);
}
.board-body {
	flex: 1 1 auto;
  padding: 2.2rem;
}
.image {
	max-width: 100%;
  width: 100%;
  height: auto;
	vertical-align: middle;
  border-style: none;
}


main a {
	color: #D78700;
	transition: color .3s;
	text-decoration: none;
}
main a:hover {
	color: #FFB942;
}

p {
		margin: 0px 0px 20px 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
		line-height: 1.4;
		font-size: 15;
}


.footer {
  text-align: center;
  padding: 4rem 1rem 1rem;
  display: block;
}
.footer__nav {
    padding-left: 0;
    list-style: none;
}
.footer__nav>a {
    padding: 0 1rem;
    margin: 0.5rem;
    color: rgba(255,255,255,0.5);
    position: relative;
}

.black a {
  color: #000;
  opacity: 60%;
}
